#splash-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-primary-background-color;
  animation: splash-screen-animation 1.5s ease-in-out forwards;

  .round {
    background-color: $light-secondary-background-color;
    border-radius: 50%;
    animation: round-animation 1.5s ease-in-out forwards;
  }

  @keyframes round-animation {
    0% {
      height: 0;
      width: 0;
    }

    100% {
      height: 300vh;
      width: 300vh;
    }
  }
}

@keyframes splash-screen-animation {
  99% {
    transform: none;
  }

  100% {
    transform: translateY(-100vh);
  }
}

@mixin content-mixin($animation-name) {
  animation: #{$animation-name} 0.8s ease-in-out forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.header-splash-screen {
  @include content-mixin(header-animation);
}

.main-splash-screen {
  @include content-mixin(main-animation);
}

@mixin content-animation-mixin($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      opacity: 0;
      transform: translateX(#{$from});
    }

    100% {
      opacity: 1;
      transform: translateX(#{$to});
    }
  }
}

@include content-animation-mixin(header-animation, -#{$header-width}, 0);
@include content-animation-mixin(
  main-animation,
  calc(100vw - #{$header-width}),
  0
);
